<h1>Novo produto</h1>
<form action="/product" method="POST">
    <div class="form-control">
        <label for="title">Nome</label>
        <input type="text" name="title" placeholder="Nome">
    </div>

    <div class="form-control">
        <label for="price">Preço</label>
        <input type="number" name="price" placeholder="Preço">
    </div>

    <input type="submit" value="Cadastrar">
</form>